/* Header */
body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

header {
    display: flex;
    flex-flow: row nowrap;
    gap: 12px;
    background-color: #1F2937;
    align-items: center;
    padding: 24px 100px;
}

.logo {
    margin-right: auto;
    font-weight: bold;
    font-size: 24px;
    color: #F9FAF8;
    text-wrap: nowrap;
    flex: initial;
}

.header-link {
    font-size: 16px;
    color: #E5E7EB;
    flex: initial;
}

/* Splash Container */
.splash-container {

}

.splash-content {

}

h1 {

}

p {

}

button {

}

/* Gallery Container */

.gallery-container {

}

h2 {

}

.gallery {

}

.gallery-item {

}

.image-container {

}

/* Quote Container */
blockquote {

}

.quote {

}

.quote-author {

}

/* CTA Container */
.cta-container {

}

.cta {

}

.cta-content {

}

.cta-main {

}

.cta-description {

}

.cta-button {

}

footer {

}